@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "New Page";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<div id="container" style="width:100%;display:flex;flex-direction:column;align-items:center;">
    <h1 style="position:absolute;top:10%;left:22%;">見本</h1>
    <button onclick="ClickGetMessage()">Get Message from Server</button>
    <button onclick="ClickGetData()" style="margin-top:20px">Get Data From　Database</button>
    <div class="card shadow mt-4" style="width:300px">
        <div class="card-body shadow-sm">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="table" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align:center; font-size: 13px;">Id</th>
                            <th style="text-align:center; font-size: 13px;">Name</th>
                            <th style="text-align:center; font-size: 13px;">Action</th>
                            <th style="text-align:center; font-size: 13px;">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <button onclick="OpenModal()">Open Modal</button>
    <div id="openModal" class="modal fade" role="dialog" style="width:100%;justify-content:center;">
        <div class="modal-dialog modal-xl" style="max-width:500px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h4 class="modal-title">新規作成</h4>
                    <button type="button" onclick="CloseModal()">x</button>
                </div>
                <div class="modal-body">
                    <input id="name"/>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" name="submitButton" value="" class="btn btn-success btn-icon-split" id="createModal" onclick="CreateModal()">
                        <span class="text-white-50 icon"><i class="fas fa-plus-circle"></i></span><span class="text-white text">保存</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="openEditModal" class="modal fade" role="dialog" style="width:100%;justify-content:center;">
        <div class="modal-dialog modal-xl" style="max-width:500px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h4 class="modal-title">編集</h4>
                    <button type="button" onclick="CloseEditModal()">x</button>
                </div>
                <div class="modal-body">
                    <input id="Id" hidden />
                    <input id="nameEdit"/>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" name="submitButton" value="" class="btn btn-success btn-icon-split" id="editModal" onclick="EditModal()">
                        <span class="text-white-50 icon"><i class="fas fa-plus-circle"></i></span><span class="text-white text">保存</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:100%;border-right:1px solid black"></div>
<div style="width:100%;display:flex;flex-direction:column;align-items:center;">
    <h1 style="position:absolute;top:10%;right:22%;">演習</h1>
    <button onclick="ClickGetMessage()">Get Message from Server</button>
    <button onclick="ClickGetDataTodo()" style="margin-top:20px">Get Data From Database</button>
    <div class="card shadow mt-4" style="width:300px">
        <div class="card-body shadow-sm">
            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="tableTodo" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align:center; font-size: 13px;">Id</th>
                            <th style="text-align:center; font-size: 13px;">Name</th>
                            <th style="text-align:center; font-size: 13px;">Action</th>
                            <th style="text-align:center; font-size: 13px;">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <button onclick="OpenModalTodo()">Open Modal</button>
    <div id="openModalTodo" class="modal fade" role="dialog" style="width:100%;justify-content:center;">
        <div class="modal-dialog modal-xl" style="max-width:500px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h4 class="modal-title">新規作成</h4>
                    <button type="button" onclick="CloseModalTodo()">x</button>
                </div>
                <div class="modal-body">
                    <input id="nameTodo" />
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" name="submitButton" value="" class="btn btn-success btn-icon-split" id="createModalTodo" onclick="CreateModalTodo()">
                        <span class="text-white-50 icon"><i class="fas fa-plus-circle"></i></span><span class="text-white text">保存</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="openEditModalTodo" class="modal fade" role="dialog" style="width:100%;justify-content:center;">
        <div class="modal-dialog modal-xl" style="max-width:500px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h4 class="modal-title">編集</h4>
                    <button type="button" onclick="CloseEditModalTodo()">x</button>
                </div>
                <div class="modal-body">
                    <input id="IdTodo" hidden />
                    <input id="nameEditTodo" />
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" name="submitButton" value="" class="btn btn-success btn-icon-split" id="editModalTodo" onclick="EditModalTodo()">
                        <span class="text-white-50 icon"><i class="fas fa-plus-circle"></i></span><span class="text-white text">保存</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Step1の目標：ClickGetMessage()を修正してHomeControllerクラスのGetMessage()から取得したメッセージである文字列をalert()で表示させる。
    //ヒント：console.log()でdataの中を見てみよう。
    function ClickGetMessage() {
        $.ajax({
            url: "/Home/GetMessage",　//取得したい文字列やデータを返してくれるネットワーク上の場所をURLで指定する。
            type: "GET",
            success: function (data) {
                alert(data.message);
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function ClickGetData() {
        $('#table').html('<thead><tr><th style="text-align:center; font-size: 13px;">Id</th><th style="text-align:center; font-size: 13px;">Name</th><th style="text-align:center; font-size: 13px;">Action</th><th style="text-align:center; font-size: 13px;">Action</th><tr></thead>');
        $.ajax({
            url: "/Home/GetData",　//取得したい文字列やデータがあるネットワーク上の場所をURLで指定する。
            type: "GET",
            success: function (data) {
                if (data.data.length != 0) { //data.data.lengthが0でない場合、データがあるということ。
                    var element = document.getElementById("table");
                    var child = document.createElement("tbody");
                    for (var i = 0; i < data.data.length; i++) {
                        var Id = data.data[i].id;  //data.data[i].idでデータのidを取得できる。
                        var Name = "";
                        if (data.data[i].name != null) { //data.data[i].nameがnullでない場合、データがあるということ。nullを入れようとするとエラーになるので、その場合のために前もって空文字("")を入れる。
                            Name = data.data[i].name;　//data.data[i].nameでデータのnameを取得できる。
                        }
                        
                        child.innerHTML += `<tr><td style="text-align:center">${Id}</td><td style="text-align:center">${Name}</td><td style="text-align: center;"><button onclick="ClickEdit(${Id})">編集</button></td><td style="text-align: center;"><button onclick="ClickDelete(${Id})">削除</button></td></tr>`　//innerHTMLでHTML要素を追加することができる。ここではテーブルの行を追加している。
                    }
                    element.appendChild(child);　 //appendChild()で要素を追加することができる。ここではテーブルの行を追加している。
                }
                else {
                    alert("No data");　//データがない場合、アラートを表示する。
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function ClickGetDataTodo(){
        $('#tableTodo').html('<thead><tr><th style="text-align:center; font-size: 13px;">Id</th><th style="text-align:center; font-size: 13px;">Name</th><th style="text-align:center; font-size: 13px;">Action</th><th style="text-align:center; font-size: 13px;">Action</th><tr></thead>');
        $.ajax({
            url: "/Home/GetDataTodo",
            type: "GET",
            success: function (data) {
                if (data.data.length != 0) {
                    var element = document.getElementById("tableTodo");
                    var child = document.createElement("tbody");
                    for (var i = 0; i < data.data.length; i++) {
                        var Id = data.data[i].id;
                        var Name = "";
                        if (data.data[i].name != null) {
                            Name = data.data[i].name;
                        }
                        child.innerHTML += `<tr><td style="text-align:center">${Id}</td><td style="text-align:center">${Name}</td><td style="text-align: center;"><button onclick="ClickEditTodo(${Id})">編集</button></td><td style="text-align: center;"><button onclick="ClickDeleteTodo(${Id})">削除</button></td></tr>`
                    }
                    element.appendChild(child);
                }
                else {
                    alert("No data");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function OpenModal() {
        $('#name').val("");
        $('#openModal').modal('show');
    }

    function OpenModalTodo() {
        $('#nameTodo').val("");
        $('#openModalTodo').modal('show');
    }

    function CloseModal() {
        $('#name').val("");
        $('#openModal').modal('hide');
    }

    function CloseModalTodo() {
        $('#nameTodo').val("");
        $('#openModalTodo').modal('hide');
    }


    function CreateModal() {
        var name = $('#name').val();
        $.ajax({
            url: "/Home/CreateData",
            type: "POST",
            data: { name: name }, //送りたいデータをオブジェクト形式で指定する。
            success: function (data) {
                if (data.result == true) {
                    alert("Success");
                    $('#openModal').modal('hide'); //modalを閉じる
                    $('#table').empty(); //tableの中身を空にする
                    ClickGetData();
                }
                else {
                    alert("Error");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function CreateModalTodo() {
        var name = $('#nameTodo').val();
        $.ajax({
            url: "/Home/CreateDataTodo",
            type: "POST",
            data: { name: name },
            success: function (data) {
                if (data.result == true) {
                    alert("Success");
                    $('#openModalTodo').modal('hide');
                    $('#tableTodo').empty();
                    ClickGetDataTodo();
                }
                else {
                    alert("Error");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function ClickEdit(id) {
        $.ajax({
            url: "/Home/GetDataById",
            type: "GET",
            data: { id: id },
            success: function (data) {
                if (data.data.length != 0) {
                    $('#nameEdit').val(data.data.name);
                    $('#Id').val(data.data.id);
                    $('#openEditModal').modal('show');
                }
                else {
                    alert("No data");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function ClickEditTodo(id) {
        $.ajax({
            url: "/Home/GetDataByIdTodo",
            type: "GET",
            data: { id: id },
            success: function (data) {
                if (data.data.length != 0) {
                    $('#nameEditTodo').val(data.data.name);
                    $('#IdTodo').val(data.data.id);
                    $('#openEditModalTodo').modal('show');
                }
                else {
                    alert("No data");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function CloseEditModal() {
        $('#name').val("");
        $('#Id').val("");
        $('#openEditModal').modal('hide');
    }

    function CloseEditModalTodo() {
        $('#nameTodo').val("");
        $('#IdTodo').val("");
        $('#openEditModalTodo').modal('hide');
    }


    function EditModal(){
        var name = $('#nameEdit').val();
        var id = $('#Id').val();
        $.ajax({
            url: "/Home/EditData",
            type: "POST",
            data: { name: name, id: id },
            success: function (data) {
                if (data.result == true) {
                    alert("Success");
                    $('#openEditModal').modal('hide');
                    $('#table').empty();
                    ClickGetData();
                }
                else {
                    alert("Error");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function EditModalTodo() {
        var name = $('#nameEditTodo').val();
        var id = $('#IdTodo').val();
        $.ajax({
            url: "/Home/EditDataTodo",
            type: "POST",
            data: { name: name, id: id },
            success: function (data) {
                if (data.result == true) {
                    alert("Success");
                    $('#openEditModalTodo').modal('hide');
                    $('#tableTodo').empty();
                    ClickGetDataTodo();
                }
                else {
                    alert("Error");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    function ClickDelete(id) {
        $.ajax({
            url: "/Home/DeleteData",
            type: "POST",
            data: { id: id },
            success: function (data) {
                if (data.result == true) {
                    alert("Success");
                    $('#table').empty();
                    ClickGetData();
                }
                else {
                    alert("Error");
                }
            },
            error: function (error) {
                alert("Error");
            }
        });
    }

    //step5目標：ClickDeleteTodo()を修正し、HomeControllerクラスのDeleteDataTodo()を呼び出して、データを削除して下さい。
    //ヒント：ClickDelete()を参考にして下さい。
    function ClickDeleteTodo(id) {
        
    }

</script>
